@{
    ViewBag.Title = "getSecondProductTypeByTypeId";
}
@using WitBird.XiaoChangHe.Models.Info;
@model IEnumerable<ProductType>

@{
    Layout = null;
    int i = 1;
}

                @if (Model != null)
                {

                    foreach (ProductType item in Model)
                    {
                        if (i == 1)
                        {
                    <li class="bg2" tid="@item.TypeId" rid="@item.RestaurantId" onclick=" DisplayContent('@item.TypeId', '@item.RestaurantId') ">
                        @Html.DisplayFor(modelItem => item.TypeName)
                        <span class="shu">@i</span>
                    </li>
                }
                else
                {
                    <li tid="@item.TypeId" rid="@item.RestaurantId" onclick=" DisplayContent('@item.TypeId', '@item.RestaurantId') ">
                        @Html.DisplayFor(modelItem => item.TypeName)
                        <span class="shu">@i</span>
                    </li>
                }
                i++;
            }
        }
