@using WitBird.XiaoChangHe.Models.Info
@model IEnumerable<ProductType>
@{
    Layout = null;
    int i = 1;
    int m = 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>开始点菜</title>
    <script>document.cookie = 'resolution=' + Math.max(screen.width, screen.height) + '; path=/';</script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-staimagess-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no" />
    <link href="~/NewContent/style/ksdc2.css" rel="stylesheet" type="text/css">
    <script src="~/NewContent/js/jquery.js"></script>
    <script src="~/NewContent/js/ksdc2.js"></script>
    <style type="text/css">
        .yuan-bottom {
            position: absolute;
            margin-left: 58%;
            margin-top: -20%;
            width: 80px;
            height: 30px;
            text-align: right;
        }

        .top_list ul li {
            width: 49.5%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top_list">
            <ul>
                <li class="r_bor bg1" onclick="DisplaySpecialsListContent('', '@ViewBag.RestaurantId') ">今日特价</li>
                <li class="r_bor" onclick="DisplaySecondMenus(1, '@ViewBag.RestaurantId') ">菜品酒水</li>
            </ul>
        </div>
        <div class="menu" id="menu">
            <ul class="level1" id="Specials_left_list"></ul>
            <ul class="level1" id="left_list" style="display: none;">
                @if (Model != null)
                {
                    foreach (ProductType item in Model)
                    {
                        <li tid="@item.TypeId" rid="@item.RestaurantId" onclick="DisplayContent('@item.TypeId', '@item.RestaurantId',@i) " id="li@(i)">
                            @Html.DisplayFor(modelItem => item.TypeName)
                            <span class="shu" style="display: none;">@i</span>
                        </li>
                        i++;
                    }
                }
            </ul>
        </div>
        <div class="footer">
            <div class="footer_left">
                <img src="/NewContent/images/4.png" onclick="myOrder()"><span class="shu2" id="totalcount">0</span><span class="money">|　<strong id="toatalprice">00.00</strong>元</span>
            </div>
            <a href="javascript:void(0);" onclick="myOrder()">
                <div class="footer_right">选好了</div>
            </a>
        </div>
    </div>
    <input type="hidden" value="@(Session["CompanyId"] != null ? Session["CompanyId"].ToString() : "")" id="CompanyId" />
    <script>
        var orderid;
        var MemberCardNo;
        var SourceAccountId = '@ViewBag.SourceAccountId';
        var bookTime = '@ViewBag.BookTime';
        var Type = '@ViewBag.FastFood';
        var CompanyId = $("#CompanyId").val();
        var hasLoadSp = false;
    </script>
    <script>
        $(document).ready(function () {
            var RestaurantId = '@ViewBag.RestaurantId';
            DisplaySpecialsListContent('', RestaurantId);
        });
        function DisplaySecondMenus(TypeId, RestaurantId) {
            $("#left_list").fadeIn(10);
            loadContent();
        }
    </script>
    <script>
        function loadContent() {
            var TypeId = $("#left_list li:first").attr("tid");
            var RestaurantId = $("#left_list li:first").attr("rid");
            if ($(".jiushuilevel").length == 0) {
                DisplayContent(TypeId, RestaurantId, 1);
            }
        }

        function DisplaySpecialsListContent(TypeId, RestaurantId) {
            $("#left_list").fadeOut(10);
            $("#Specials_left_list").html("");
            $.ajaxSetup({ async: false });
            var Status = '@ViewBag.Status';
            if (hasLoadSp) {
                return;
            }
            $.post("/Specials/RestaurantSpecials", { RestaurantId: RestaurantId, ProductTypeId: TypeId, SourceAccountId: SourceAccountId, Status: Status, Type: Type }, function (msg) {
                $("#Specials_left_list").html(msg);
                orderid = $("#OrderId").val();
                MemberCardNo = $("#MemberCardNo").val();

                //var t = $("#pretotalcount").val();
                ////显示用户已点菜数量
                //if (t != null || t != 0 || t != "" || t != undefined) {
                //    $("#totalcount").html(t);
                //}
                //var tp = $("#pretotalprice").val();
                ////显示用户已点菜总价
                //if (tp != null || tp != 0) {
                //    $("#toatalprice").html(tp);
                //}

                InitEvent();
                hasLoadSp = true;
            });

        }

        function DisplayContent(TypeId, RestaurantId, contentId) {
            $.ajaxSetup({ async: false });
            var Status = '@ViewBag.Status';
            $.post("/Product/getProductByProductTypeId",
                { RestaurantId: RestaurantId, ProductTypeId: TypeId, SourceAccountId: SourceAccountId, Status: Status, Type: Type },
                function (msg) {
                    $(".level2").html('');
                    $("#li" + contentId).after(msg);
                    orderid = $("#OrderId").val();
                    MemberCardNo = $("#MemberCardNo").val();

                    //var t = $("#pretotalcount").val();
                    ////显示用户已点菜数量
                    //if (t != null || t != 0 ) {
                    //    $("#totalcount").html(t);
                    //}
                    //var tp = $("#pretotalprice").val();
                    ////显示用户已点菜总价
                    //if (tp != null || tp != 0) {
                    //    $("#toatalprice").html(tp);
                    //}

                    InitEvent();

                });

        }


    </script>
    <script>
        function myMenu() {
            $.ajaxSetup({ async: false });
            if (orderid == null || orderid == '') {

                alert("你还未点菜！");
                return;
            }
            window.location.href = "/MyMenu/MyMenu?MemberCardNo=" + MemberCardNo + "&OrderId=" + orderid + "&SourceAccountId=" + SourceAccountId + "&RstType=" + Type + "&CompanyId =" + CompanyId + "";

        }


        function myOrder() {
            $.ajaxSetup({ async: false });
            if (orderid == null || orderid == '') {

                alert("你还未点菜！");
                return;
            }
            window.location.href = "/pay/prepareorder?uid=" + MemberCardNo + "&OrderId=" + orderid + "&SourceAccountId=" + SourceAccountId + "&CompanyId =" + CompanyId + "&RstType=" + Type + "";

        }

        function add(id) {
            $.ajaxSetup({ cache: false });
            var productId = id;
            var num1 = $("#" + id).val();
            if (num1 > 0) {
                $("#" + id).css("display", "inline");
                //$("#" + "pic" + id).css("display", "inline");
            }
            //用户已点菜数量
            var total = $("#totalcount").html();
            if (total == null || total == "") {
                total = 0;
            }

            $("#totalcount").html(parseInt(total) + 1);

            var price = $("#rmb" + id).data("price"); //.replace('￥', '');
            if (orderid == null || orderid == '') {
                $.post("/Order/SaveOrders", { type: "Insert", SourceAccountId: SourceAccountId, bookTime: bookTime, isQuick: Type }, function (msg) {
                    //$("#saveorderid").val(msg);
                    orderid = msg;
                    if (msg != "00000000-0000-0000-0000-000000000000") {


                        $.post("/Order/SaveOrderDetails", { type: "Insert", productId: productId, unitPrice: price, orderId: msg, productCount: num1 }, function (msg1) {
                            if (msg1 == 1) {

                            }

                        });
                    }

                });
            } else {
                if (orderid != "00000000-0000-0000-0000-000000000000") {
                    var num1 = $("#" + id).val();
                    $.post("/Order/SaveOrderDetails", { type: "Insert", productId: productId, unitPrice: price, orderId: orderid, productCount: num1 }, function (msg1) {
                        if (msg1 == 1) {

                        }

                    });
                }
            }
            count(price);
        }

        function jian(id) {
            var num = $("#" + id).val();
            if (num > 0) {
                $("#" + id).val(parseInt(num) - 1);
            }
            $.ajaxSetup({ cache: false });
            var num1 = $("#" + id).val();
            if (num1 == 0) {
                $("#" + id).val(0);
                $("#" + id).parent().hide();
                $("#" + id).parent().parent().find(".yuan-bottom").show();
            }
            //用户已点菜数量
            var total = $("#totalcount").html();
            if (total > 0) {
                $("#totalcount").html(parseInt(total) - 1);
            }
            var productId = id;
            var price = $("#rmb" + id).data("price"); //.replace('￥', '');
            if (orderid != null && orderid != '') {
                if (orderid != "00000000-0000-0000-0000-000000000000") {

                    if (num1 > 0) {
                        $.post("/Order/SaveOrderDetails", { type: "Insert", productId: productId, unitPrice: price, orderId: orderid, productCount: num1 }, function (msg1) {
                            if (msg1 == 1) {

                            }

                        });
                    } else if (num1 == 0) {
                        var num1 = $("#" + id).val();
                        $.post("/Order/DelOrderDetails", { productId: productId, orderId: orderid }, function (msg1) {
                            if (msg1 == 1) {

                            } else {

                            }
                        });
                    }
                }
            }
            count(0 - price);
        }

        function count(price) {
            var toatalprice = parseFloat($("#toatalprice").html());

            $("#toatalprice").html((toatalprice + parseFloat(price)).toFixed(2));
        }

        function addLove(id) {
            var num = $("#love" + id).html();
            $("#love" + id).html(parseInt(num) + 1);
            var num1 = $("#love" + id).html();
            $.post("/ProductConfigure/save", { id: id, LoveCount: num1 }, function (msg1) {

            });
        }


        function dialog(id) {
            var str = "<nav><img src=\"/Order/GetBigImages/" + id + "\" style=\"width: 85%;height: 100%;margin: 10px;-webkit-border-radius: 5px;border-radius: 5px;max-width: 300px; max-height: 300px;-webkit-border-radius: 5px;border-radius: 5px;\"/> </nav>";
            var unit = "%";
            sAlert(str, 90, 40, unit);
        }


        function sAlert(str, msgw, msgh, unit) {
            var msgw, msgh, bordercolor;
            msgw = msgw; //提示窗口的宽度
            msgh = msgh; //提示窗口的高度
            bordercolor = "#1da507"; //提示窗口的边框颜色
            titlecolor = "#1da507"; //提示窗口的标题颜色

            var sWidth, sHeight;
            sWidth = document.body.offsetWidth;
            sHeight = document.body.offsetHeight;

            var bgObj = document.createElement("div");
            bgObj.setAttribute('id', 'bgDiv');
            bgObj.style.position = "absolute";
            bgObj.style.top = "0";
            bgObj.style.background = "#777";
            bgObj.style.filter = "progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75";
            bgObj.style.opacity = "0.6";
            bgObj.style.left = "0";
            bgObj.style.width = sWidth + "px";
            bgObj.style.height = sHeight + "px";
            document.body.appendChild(bgObj);
            var msgObj = document.createElement("div")
            msgObj.setAttribute("id", "msgDiv");
            msgObj.setAttribute("align", "center");
            msgObj.style.position = "absolute";
            //msgObj.style.background = "white";
            msgObj.style.font = "12px/1.6em Verdana, Geneva, Arial, Helvetica, sans-serif";
            //msgObj.style.border = "1px solid " + bordercolor;
            msgObj.style.width = msgw + unit;
            // msgObj.style.height = msgh + unit;
            msgObj.style.top = "25" + unit;
            msgObj.style.left = "5" + unit;
            msgObj.onclick = function () {
                document.body.removeChild(bgObj);

                document.body.removeChild(msgObj);
            }
            document.body.appendChild(msgObj);
            var txt = document.createElement("span");
            txt.style.margin = "1em 0"
            txt.setAttribute("id", "msgTxt");
            txt.innerHTML = str;
            document.getElementById("msgDiv").appendChild(txt);
            var strs = document.createElement("span");
            strs.style.margin = "1em 0"
            strs.setAttribute("id", "msgTxts");
            strs.innerHTML = "";
            document.getElementById("msgDiv").appendChild(strs);

        }


    </script>

    <script type="text/javascript">
        function InitEvent() {
            $(".s_right").click(function () {
                var t = $(this).siblings("input");
                t.val(parseInt(t.val()) + 1);
                add($(this).data("pid"));
            });

            $(".s_left").click(function () {
                var t = $(this).siblings("input");
                if (t.val() > 1)
                    t.val(parseInt(t.val()) - 1);
                jian($(this).data("pid"));
            });

            $(".yuan-bottom").click(function () {

                console.log(this);

                $(this).parent().find(".right_q").show();
                $(this).hide();

                add($(this).data("pid"));
            });
        }
    </script>
</body>
</html>
