@{
    ViewBag.Title = "MyOrderDetail";
    Layout = "";
}

@using WitBird.XiaoChangHe.Models.Info
@model IEnumerable<MyOrderDetail>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>订单详细</title>
    <script>document.cookie = 'resolution=' + Math.max(screen.width, screen.height) + '; path=/';</script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-staimagess-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no" />
    <!--引入css和js-->

    <link href="~/NewContent/css/common.css" rel="stylesheet" type="text/css" />
    <link href="~/NewContent/style/ydxx.css" rel="stylesheet" type="text/css">

    <script src="~/NewContent/js/jquery.js"></script>
    <script src="~/NewContent/js/ydxx.js"></script>
    <script type="text/javascript" src="~/NewContent/js/date.js"></script>
    <script type="text/javascript" src="~/NewContent/js/iscroll.js"></script>
    <!--  下面是日期插件js-->
    <script type="text/javascript">
        $(function () {
            $('#beginTime').date();
            $('#endTime').date({ theme: "datetime" });

            $(".kbtn").click(function () {

                $("input.kbtn").css({ "background-image": "none" });
            });
            $("#endTime").click(function () {
                $(this).css({ "opacity": "1" });
            });
            $("input").focus(function () {
                $(this).val("");
            }).blur(function () {
                if ($(this).val() == "")
                    $(this).val(this.defaultValue);
            });

        });
    </script>
</head>
<body>
<div class="container">
    <form method="POST" action="SubmitOrder">
    @if (Model != null)
    {

        string orderid = "";
        decimal totalprice = new decimal(0);
        decimal viptotalprice = new decimal(0);
        foreach (MyOrderDetail item in Model)
        {

            if (string.IsNullOrEmpty(orderid))
            {
                orderid = item.OrderId.ToString();
                <!-- 店铺名字 可点击-->
                <a href="~/company/Rst/@ViewBag.RestaurantId">
                    <div class="header2">@item.RstName<span class="header_r">></span></div>
                </a>
                <!--选择用餐时间-->
                <div class="header3" style="position: relative;">
                    选择用餐时间
                    <input name="DiningDate" id="endTime"/><span class="header_r">></span>
                </div>
                <div class="header3">
                    <span style="color: #999;">
                            <input type="text" placeholder="请输入姓名" name="ContactName" value="@item.ContactName" style="width: 24%;" /></span>
                    <div class="sex">
                        <input type="hidden" value="0" name="sex"/>
                        <img class="img1" src="~/NewContent/images/11.png" height="30">
                        <img class="img2" src="~/NewContent/images/10.png" height="30">
                    </div>
                </div>
                <div class="header3" style="color: #999;">
                    <input type="text" name="ContactPhone" placeholder="输入预定手机号码"/>
                </div>
                <div class="header3" style="color: #999; line-height: 50px; height: 50px;">
                    <input type="text" name="PersonCount" placeholder="填写用餐人数"/><span style="color: #000;"> 人</span>
                </div>
                <div class="huise"></div>
                <!-- 菜品清单标题-->
                <div class="header3" style="font-weight: bold; margin-bottom: 10px;">
                    <span style="color: red; font-size: 15px;">|</span> 菜品清单
                </div>

                totalprice = item.total;
                viptotalprice = ViewBag.MemberPriceTotal;
            }

            if (orderid.Equals(item.OrderId.ToString()))
            {
                if (item.proId != null && item.proId != new Guid("00000000-0000-0000-0000-000000000000"))
                {
                    <div class="content2">
                        <img src="/Order/GetImages/@item.proId" width="30%" height="122px">
                        <!--菜品名字-->
                        <span class="sz">@item.ProductName</span> <span class="xz">
                                <!-- 菜品价格-->
                                <span style="font-size: 18px;">@(item.UnitPrice*item.ProductCount)</span><span style="font-size: 13px;"> 元</span></span>
                        <!--菜品数量-->
                        <span class="xy">x@(item.ProductCount)</span>
                    </div>
                }
            }

        }

        <!-- 底部遮罩层提示语-->
        <div class="footer">
            @if (ViewBag.PrepayAccount == 0)
            {
                <div class="zhe"><span style="opacity: 1;">如升级为储值微会员，当前可优惠@(totalprice - viptotalprice)元且可享受 ( 充1000再送300 ) 的优惠！</span></div>
            }
            <!-- 合计价格-->
            <span class="heji">合计：@totalprice ¥</span> <a href="~/NewUI/ddxq(yfk).html">
                <!--确认付款按钮-->
                <div class="fukuan">确认付款</div>
            </a>
        </div>
    }
    </form>
    <div id="datePlugin"></div>
    <!--效果html结束-->
    <div class="clear"></div>
    <!-- 日期插件部分div结束，不能删哦-->
</div>
</body>

</html>
<script>
    function add(id) {
        var num = $("#" + id).val();
        $("#" + id).val(parseInt(num) + 1);
        $.ajaxSetup({ cache: false });
        var SourceAccountId = '@ViewBag.SourceAccountId';
        var productId = id;
        var price = $("#rmb" + id).html().replace('￥', '');
        $.post("/Order/SaveOrders", { type: "Insert", SourceAccountId: SourceAccountId }, function (msg) {
            alert(msg);
            if (msg != "00000000-0000-0000-0000-000000000000") {
                var num1 = $("#" + id).val();
                $.post("/Order/SaveOrderDetails", { type: "Insert", productId: productId, unitPrice: price, orderId: msg, productCount: num1 }, function (msg1) {
                    if (msg1 == 1) {

                    }

                });
            }

        });
    }
    function jian(id) {

        var num = $("#" + id).val();
        $("#" + id).val(parseInt(num) - 1);
        $.ajaxSetup({ cache: false });
        var SourceAccountId = '@ViewBag.SourceAccountId';
        var productId = id;
        var price = $("#rmb" + id).html().replace('￥', '');
        $.post("/Order/SaveOrders", { type: "Insert", SourceAccountId: SourceAccountId }, function (msg) {
            alert(msg);
            if (msg != "00000000-0000-0000-0000-000000000000") {
                var num1 = $("#" + id).val();
                if (num1 > 0) {
                    $.post("/Order/SaveOrderDetails", { type: "Insert", productId: productId, unitPrice: price, orderId: msg, productCount: num1 }, function (msg1) {
                        if (msg1 == 1) {

                        }

                    });
                } else if (num1 == 0) {
                    var num1 = $("#" + id).val();
                    $.post("/Order/DelOrderDetails", { productId: productId, orderId: msg }, function (msg1) {
                        if (msg1 == 1) {

                        }

                    });
                }
            }

        });
    }
</script>


