@model List<WitBird.XiaoChangeHe.Core.Entity.OrderSummary>

@using WitBird.XiaoChangHe.Models.Info;
@using WitBird.XiaoChangeHe.Core;
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的订单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link href="~/NewContent/style/index2.css" rel="stylesheet" type="text/css">
    <link href="~/NewContent/style/wddd.css" rel="stylesheet" type="text/css">
    <script src="~/NewContent/js/jquery.js"></script>
    <style>
        .content { margin-top: 0px; }
    </style>
</head>
<body>
    <div class="container">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var order in Model)
            {
                <div class="content">
                    <div class="content_header">
                        创建时间 @order.CreateTime.ToString("yyyy-MM-dd hh:mm:ss")
                        <div class="content_content">
                            <div class="content_img"><img src="/Order/GetImagesRst/@(order.RestaurantId)"></div>
                            <div class="content_title">
                                <span class="title_l">@order.RestaurantName</span>
                                @{
                string orderStatus = "未付款";

                switch (order.Status)
                {
                    case OrderStatus.Cancelled:
                        orderStatus = "已取消";
                        break;
                    case OrderStatus.Complete:
                        orderStatus = "已完成";
                        break;
                    case OrderStatus.Confirmed:
                        orderStatus = "已出菜";
                        break;
                    case OrderStatus.Paid:
                        orderStatus = "已付款";
                        break;
                    case OrderStatus.Refunded:
                        orderStatus = "已退款";
                        break;
                    case OrderStatus.New:
                    default:
                        orderStatus = "未付款";
                        break;
                }
                <span class="title_r">@orderStatus</span>
                                }
                                @if (order.PersonCount.HasValue)
                                {
                                    <br /><span>散座（@order.PersonCount.Value.ToString() 人）</span>
                                }
                                @if (order.DiningDate != null)
                                {
                                    <br />@order.DiningDate.Value.ToString("yyyy-MM-dd ddd HH:mm")

                                }
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <span>订单金额：<span class="money">@order.TotalMoney.ToString("0.00")元</span></span>
                        @if (order.Status != OrderStatus.New)
                        {
                            <div class="fuk" onclick="toUrl('/NewOrder/Detail/@ViewBag.CompanyId/@ViewBag.SourceAccountId?orderId=@order.OrderId')">查看订单</div>
                        }
                        else
                        {
                            string url = "/pay/prepareorder?MemberCardNo=" + ViewBag.Uid + "&OrderId=" +
                                order.OrderId + "&SourceAccountId=" + ViewBag.SourceAccountId + "&CompanyId =" + ViewBag.CompanyId + "&RstType=Quick";
                            <div class="fuk" onclick="CancelOrder('@order.OrderId');">取消订单</div>
                            <div class="fuk" onclick="toUrl('@url')">查看/付款</div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div>
                @*<a href="/order/begin/@ViewBag.CompanyId/@ViewBag.SourceAccountId">你还没下单，去点餐</a>*@
            </div>
        }
    </div>
    <script>
    function toUrl(url) {
        window.location.href = url;
    }
    function CancelOrder(orderId) {
        if (confirm("您确认取消订单吗？")){
            $.post("/neworder/CancelOrder", {
                Uid: @ViewBag.Uid,
                OrderId: orderId,
                IsEdit: true
            }, function (msg) {
                if (msg == 'SUCCESS') {
                    alert("订单取消成功");
                    window.location = window.location;//"/order/begin/CB824E58-E2CA-4C95-827A-CA62D528C6A7/@ViewBag.SourceAccountId?type=Quick";
                } else {
                    alert("订单取消失败");
                }
            });
        }
    }
    </script>

</body>
</html>