@using WitBird.XiaoChangHe.Models.Info;
@model IEnumerable<ProductNew>
@{
    Layout = null;
    var totalcount = 0;
    decimal totalprice = new decimal(0);
}
<!-- the content start -->
<ul class="level2 jiushuilevel" style="display: block;">
    @if (Model != null)
    {
        foreach (ProductNew item in Model)
        {
            <li>
                <div class="content2">
                    <!-- 菜品图片-->
                    <div class="content_img">
                        <img src="/Order/GetImages/@(item.Id)" imgid="@(item.Id)">
                    </div>
                    @if(item.Popular)
                    {
                        <div class="zan"><img src="~/NewContent/images/zan.png" width="30px"></div>
                    }
                    <!--菜品名称-->
                    <span class="img_title">@item.ProductName</span>
                    <!--菜品价格-->
                    <span class="img_money" id="rmb@(item.Id)" data-price="@item.Price">@(item.Price)元</span>
                    <span class="member"><span>会员价：@(item.MemberPrice)</span>元</span>
                    <span class="mala">麻辣指数:</span>
                    @for (int j = 0; j < item.Hot; j++)
                    {
                        <div class="laj@(j+1)"></div>
                    }
                    <!--加减按钮-->
                    <div class="content-z-bottom">
                        @{ bool hadOrder = false; }
                        @if (ViewBag.MyMenuListData != null)
                        {
                            foreach (MyMenu item1 in ViewBag.MyMenuListData as List<MyMenu>)
                            {
                                totalcount = totalcount + item1.ProductCount;
                                totalprice = totalprice + item1.ProductCount * item1.MemberPrice;
                                if (item.Id.Equals(item1.ProductId) && item1.ProductCount > 0)
                                {
                                    <div class="right_q">
                                        <span class="s_left" data-pid="@item.Id">-</span>
                                        <input type="text" id="@item.Id" value="@item1.ProductCount" class="text_box" readonly="readonly" style="outline:none;" />
                                        <span class="s_right" data-pid="@item.Id">+</span>
                                    </div>
                                    {
                                        hadOrder = true;
                                        break;
                                    }
                                }
                            }
                        }
                        @if (!hadOrder)
                        {
                            <div class="right_q" style="display: none;">
                                <span class="s_left" data-pid="@item.Id">-</span>
                                <input type="text" id="@item.Id" value="1" class="text_box" readonly="readonly" style="outline:none;" />
                                <span class="s_right" data-pid="@item.Id">+</span>
                            </div>
                            <div class="yuan-bottom" data-pid="@item.Id" style="display: block;">
                                <img src="~/NewContent/images/yj.png" width="33" height="34">
                            </div>
                        }
                    </div>
                </div>
            </li>
        }
    }
</ul>
<input type="hidden" value="@ViewBag.OrderId" id="OrderId" />
<input type="hidden" value="@ViewBag.MemberCardNo" id="MemberCardNo" />
<input type="hidden" value="@totalcount" id="pretotalcount" />
<input type="hidden" value="@totalprice" id="pretotalprice" />
<!-- the content end -->
