@using WitBird.XiaoChangHe.Models.Info;
@model NewRestaurantAbstract
@{
    ViewBag.Title = "Addr";
    Layout = "";
    var clickEvent = string.Format("load('{0}');", Model.Id);
    //饭店类型 “01”--快餐店  “02”---正常店
    if (Model.RstType == "01")
    {
        clickEvent = string.Format("loadQuick('{0}', '{1}'); ", Model.Id, Model.RstType);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>店面信息</title>
    <script>document.cookie = 'resolution=' + Math.max(screen.width, screen.height) + '; path=/';</script>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-staimagess-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="wap-font-scale" content="no" />
    <!--引入css和js-->
    <link href="~/NewContent/style/index2.css" rel="stylesheet" type="text/css">
    <link href="~/NewContent/css/lunbo.css" type="text/css" rel="stylesheet" />
    <script src="~/NewContent/js/jquery.js"></script>
    <script>
        //设置3秒自动轮播一次
        $(function () {
            setInterval(function () {
                $(".arrow-right").trigger("click");
            }, 3000)
        });

    </script>
    <!-- 点击可打电话js-->
    <script>
        function phone(date) {
            window.location.href = 'tel://' + date;
        }
    </script>
</head>
<body>
    <div class="container">
        <!-- 轮播图 x4张-->
        <div class="slider">
            <!-- 轮播代码部分begin -->
            <div class="device">
                <a class="arrow-left" href="#"></a>
                <a class="arrow-right" href="#"></a>

                <div class="swiper-container">

                    <div class="swiper-wrapper" style="z-index: 1;">
                        <!-- 轮播代码部分php通过循环swiper-slide下面img来遍历数据 -->

                        <div class="swiper-slide">

                            <img src="~/Order/GetImagesRst/@(Model.Id)">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Order/GetImagesRst/@(Model.Id)">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Order/GetImagesRst/@(Model.Id)">
                        </div>
                        <!-- php轮播结束-->

                    </div>

                </div>
                <div class="pagination"></div>

            </div>

            <script src="~/NewContent/js/lunbo.js"></script>

            <script>
                var mySwiper = new Swiper('.swiper-container', {
                    pagination: '.pagination',
                    loop: true,
                    grabCursor: true,
                    paginationClickable: true
                })
                $('.arrow-left').on('click', function (e) {
                    e.preventDefault()
                    mySwiper.swipePrev()
                })
                $('.arrow-right').on('click', function (e) {
                    e.preventDefault()
                    mySwiper.swipeNext()
                })
            </script>
            <!-- 轮播代码部分end -->
        </div>
        <!--立即点菜图标-->
        <a href="~/NewUI/ksdc.html">
            <div class="top-title">@Model.Name <span>x3张</span>  </div>
            <div class="bottom_1">
                <img src="~/NewContent/images/dh2.png" height="60">
            </div>
        </a>
        <!-- 今日特价图标-->
        <a href="~/NewUI/ksdc.html">
            <div class="bottom_2">
                <img src="~/NewContent/images/dh3.png" height="60">
            </div>
        </a>
        <!-- 导航到店图标-->
        <div class="bottom_3">
            <img src="~/NewContent/images/dh1.png" height="60">
        </div>
        <!--立即点菜-->
        <a href="javascript:void(0);" onclick="@clickEvent">
            <div class="bottom_1_1 dibu">立即点菜</div>
        </a>
        <!-- 今日特价-->
        <a href="~/NewUI/ksdc.html">
            <div class="bottom_2_2 dibu">今日特价</div>
        </a>
        <!--导航到店-->
        <div class="bottom_3_3 dibu"><a href="@(Model.MapUrl)">导航到店</a></div>

        <!--  内容区域开始-->
        <div class="content">
            <!-- 营业时间-->
            <div class="content_1">
                <span class="content_1_l">营业时间</span> <span class="content_1_r">
                    @(Model.BusinessStartDate != null ? Model.BusinessStartDate.ToString("hh:mm:ss") : "")--@(Model.BusinessEndtDate != null ? Model.BusinessEndtDate.ToString("hh:mm:ss") : "")
                </span>
            </div>
            <!--  地址-->
            <div class="content_2">
                <span class="content_1_l">
                    @(Model != null ? Model.Address : "")
                </span><span class="content_2_r">
                    <!--  地图 可点击-->
                    <span style="color: #0ff;" onclick="window.location.href='@(Model.MapUrl)'">地图</span>&nbsp;></span>
            </div>
            <!-- 联系商家电话， 可点击-->
            <div class="content_3">
                <span class="content_1_l">联系商家：</span>
                <a href="tel:@Model.ContactPhone">
                    <span>@(Model != null ? Model.ContactPhone : "")</span>
                    <span class="content_2_r">
                        <span style="color: #0ff;">
                            <img src="~/NewContent/images/dianh.png" height="22">
                        </span></span>
                </a>
            </div>
            <!-- 今日特价更多-->
            <div class="content_4"><span class="content_1_l" style="font-weight: bold;">今日特价</span> 
                <span class="content_1_r">更多>> </span></div>
            
        </div>
        <div class="content_5">
                <!-- 商品图片-->
                <div class="content_5_l">
                    <img src="~/NewContent/images/11 (2).png">
                </div>
                <!--商品名字-->
                <span class="z_s" style="font-weight: bold;">韭香凤冠</span>
                <!--时间-->
                <span class="y_s" style="font-size: 12px;">星期一</span>
                <!--新价格和旧价格-->
                <span class="z_x"><span style="color: #F33">78元</span> <span class="through">100元</span></span>
                <!--已售件数-->
                <span class="y_x" style="font-size: 12px;">已售5</span>
            </div>
        <!-- 商家提供-->
        <div style="color: #666; font-size: 14px; margin: 10px;">@Model.Description</div>
    </div>
</body>
<script type="text/javascript">
    function loadQuick(Id, RstType) {
        window.location.href = "/ProductType/Index?SourceAccountId=@(ViewBag.SourceAccountId)&RestaurantId=" + Id + "&Status=1&Type=FastFood&IsOrder=@(ViewBag.AutoOrderCount)&MemberCardNo=@(ViewBag.MemberCardNo)&Orderid=@(ViewBag.OrderId)";
}
</script>
</html>
   